<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let landmark of landMarks">

    <div class="row">
      <div class="col-md-2" *ngIf="landmark.photo; else noPhoto">
        <a href={{landmark.photo._url}} class="text-decoration-none" target="_blank">
          <img src="{{landmark.photo_thumb._url}}" class="img-fluid" style="width:250px;height:250px"
            alt="No photo"></a>
      </div>

      <div class="col-md-10">
        <h1><a [routerLink]="[landmark.order]" routerLinkActive="active"
            class="text-decoration-none">{{landmark.title}}</a></h1>
        <p>{{landmark.short_info}}</p>
        <a *ngIf="admin" href="list/{{landmark.order}}/edit" type="button" class="btn btn-primary">Edit article</a>

      </div>

    </div>
  </li>
</ul>

<ng-template #noPhoto>
  <div class="col-md-2">
    No photo
  </div>
</ng-template>

<router-outlet></router-outlet>