<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let landmark of landMarks">
    <div class="row">
      <div class="col-md-2" *ngIf="landmark.photo; else noPhoto">
        <a href={{landmark.photo._url}} class="text-decoration-none" target="_blank">
          <img src="{{landmark.photo_thumb._url}}" class="img-fluid mt-2" style="width:250px;height:250px"
            alt="No photo"></a>
      </div>

      <div class="col-md-10">
        <h1>{{landmark.title}}</h1>
        <p>{{landmark.short_info}}</p>
        <h4><a href={{landmark.url}} class="text-decoration-none" target="_blank">Visit the official site</a></h4>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-md-12">
        <h3>Description</h3>
        <p>{{landmark.description}}</p>
      </div>
    </div>

    <a href="list" type="button" class="btn btn-primary m-2">Back to list </a>
    <a *ngIf="admin" href="list/{{landmark.order}}/edit" type="button" class="btn btn-primary m-2">Edit article</a>

  </li>
</ul>

<ng-template #noPhoto>
  <div class="col-md-2">
    No photo
  </div>
</ng-template>
