<div class="row m-3" *ngIf="!currentUsername; else logout">
  <form class="form-inline ml-3 mt-1" style="align-items: flex-end;" [formGroup]="loginForm">
    <div class="form-group mb-2">
      <label for="username" class="sr-only"></label>
      <input type="text" class="form-control" formControlName="username" placeholder="username"
        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="password" class="sr-only"></label>
      <input type="password" class="form-control" formControlName="password" placeholder="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    </div>
    <button type="button" class="btn btn-primary mb-2" (click)="validateLogin()">LOGIN</button>
  </form>
</div>

<ng-template #logout>
  <div class="row m-3 pl-3 pr-3">
    <p style="color:#fff;">You logged in as <b>{{currentUsername}}</b></p>
    <a href="list" type="button" class="btn btn-primary mb-2 ml-2" (click)="validateLogout()">LOGOUT</a>
  </div>
</ng-template>
