<ul class="list-group list-group-flush" *ngIf="admin">
  <li class="list-group-item" *ngFor="let landmark of landMarks">
    <div class="row">
      <div class="col-md-2">

        <div *ngIf="landmark.photo && !loading; else uploadPhoto">
          <a href={{landmark.photo._url}} class="text-decoration-none" target="_blank">
            <img src="{{landmark.photo._url}}" class="img-fluid mb-2" style="width:250px;height:250px"
              alt="No photo"></a>
          <input style="display: none" type="file" (change)="onFileChanged($event, landmark.order)" #fileInput>
          <button (click)="fileInput.click()" class="btn btn-primary">Upload new photo</button>
        </div>
        <div *ngIf="loading" class="mb-2">Uploading</div>
        <div *ngIf="loading" class="spinner-border"></div>
      </div>

      <div class="col-md-10">
        <form [formGroup]="editForm">
          <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control form-control" formControlName="title" type="text" value="{{landmark.title}}"
              [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
          </div>
          <div class="form-group">
            <label for="short_info">Short information</label>
            <textarea class="form-control" formControlName="short_info" type="text" rows="4"
              value="{{landmark.short_info}}" [ngClass]="{ 'is-invalid': submitted && f.short_info.errors }"></textarea>
          </div>
          <div class="form-group">
            <label for="url">Landmark url</label>
            <input class="form-control form-control" formControlName="url" type="text" value="{{landmark.url}}"
              [ngClass]="{ 'is-invalid': submitted && f.url.errors }">
          </div>
        </form>
      </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="editForm">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" type="text" rows="10"
              value="{{landmark.description}}"
              [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></textarea>

          </div>
        </form>
      </div>
    </div>

    <a href="list" type="button" class="btn btn-primary m-2"> Back to list </a>
    <a href="list/{{landmark.order}}/landmark" type="button" class="btn btn-primary m-2">Back to preview </a>
    <button type="button" class="btn btn-primary m-2" (click)="submitChanges()">Submit changes</button>

    <ng-template #uploadPhoto>
      <div class="col-md-2">
        <input style="display: none" type="file" (change)="onFileChanged($event, landmark.order)" #fileInput>
        <button (click)="fileInput.click()" class="btn btn-primary">Upload photo</button>
      </div>
    </ng-template>
  </li>
</ul>
